body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    border: 1px solid #000;
    padding: 20px;
    margin: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

table, th, td {
    text-align: center;
    margin-left: 31%;
    border: 2px solid black;
    border-collapse: collapse;
    box-shadow: #000000;
}

p {
    text-align: justify;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: auto;
    font-weight: 700;
}

