:root {
  --style-button: 8px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-style-mode="semi-rounded">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-style-mode="semi-rounded"] {
  --style-button: 8px;
}

[data-style-mode="rounded"] {
  --style-button: 360px;
}

[data-style-mode="sharp"] {
  --style-button: 0px;
}
