<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('login') === 'failed') {
                alert('Invalid credentials!');
            }
        }
    </script>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
        <a href="/history">History</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="container">
        <h1>Login</h1>
        <form action="/login_process" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password"  placeholder="Password" required style="margin-bottom: 15px;">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>


