<!-- templates/create_user.html -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('login') === 'failed') {
                alert('Failed to create user.');
            }
        }
    </script>
</head>

<body>

    <div class="container">
        <h1>Sign Up</h1>
        <form action="/signup_process" method="post">
            <input type="text" placeholder="FirstName" required>
            <input type="text" placeholder="LastName" required>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <button type="submit">Sign Up</button>
        </form>

        <div style="display: flex; justify-content: center;">
            <p>
                Already have an account? 
                <a href="/" class="back-link">Login</a>
            </p>
        </div>
        
    </div>
</body>
</html>
