<!-- templates/create_user.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('login') === 'failed') {
                alert('Failed to create user.');
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Create Account</h1>
        <form action="/create_user_process" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Create</button>
        </form>
        <p>
            Already have an account? 
            <a href="/" class="back-link">Login</a>
        </p>
    </div>
</body>
</html>
