<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desktop - 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/desktop_1.css" />
  </head>
  <body>
    <div class="desktop-1">
      <div class="sidebar">
        <div class="logo">
          <p class="cryptofun">
          <span class="cryptofun-sub-28"></span><span></span>
          </p>
        </div>
        <div class="side-menu">

          <button class="menu">
            <div class="fi-sr-home">
                <img class="group" src="/static/css/assets/vectors/group_10_x2.svg" alt="Home Icon">
            </div>
            <div class="home">
                Ho
            </div>
          </button>
        
          <div class="menu-1">
            <div class="fi-sr-chart-pie-alt">
              <img class="fi-sr-chart-pie-alt-1" src="/static/css/assets/vectors/fi_sr_chart_pie_alt_2_x2.svg" />
            </div>
            <div class="home-1">
            Portfolio
            </div>
          </div>
          <div class="menu-2">
            <div class="fi-sr-chart-histogram">
              <img class="fi-sr-chart-histogram-1" src="/static/css/assets/vectors/fi_sr_chart_histogram_1_x2.svg" />
            </div>
            <div class="home-2">
            Trading
            </div>
          </div>
          <div class="menu-3">
            <div class="container-5">
              <div class="fi-sr-badge">
                <img class="vector-11" src="/static/css/assets/vectors/vector_45_x2.svg" />
              </div>
              <div class="home-3">
              Rewards
              </div>
            </div>
            <div class="small-button">
              <span class="new">
              New
              </span>
            </div>
          </div>
          <div class="menu-4">
            <div class="fi-sr-gift">
              <img class="vector-12" src="/static/css/assets/vectors/vector_27_x2.svg" />
            </div>
            <div class="home-4">
            Refferal
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="frame-20">
          <div class="trading">
          Trading
          </div>
          <div class="profile-bar">
            <div class="bt-search">
              <div class="icon-outlinesearch">
                <img class="icon" src="/static/css/assets/vectors/icon_2_x2.svg" />
              </div>
              <span class="search-for-coins">
              Search for coins
              </span>
            </div>
            <div class="fi-sr-bell">
              <img class="fi-sr-bell-1" src="/static/css/assets/vectors/fi_sr_bell_x2.svg" />
            </div>
            <div class="user">
              <div class="ellipse-50">
              </div>
              <div class="frame-18">
                <span class="laura">
                Laura
                </span>
              </div>
              <div class="fi-sr-angle-small-down">
                <img class="vector-15" src="/static/css/assets/vectors/vector_28_x2.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="container-3">
          <div class="container-4">
            <div class="frame-27">
              <div class="frame-25">
                <div class="frame-24">
                  <div class="crypto-big">
                    <div class="bitcoin-1">
                      <img class="vector-17" src="/static/css/assets/vectors/vector_42_x2.svg" />
                    </div>
                    <div class="bitcoin-2">
                    Bitcoin 
                    </div>
                    <div class="btc">
                    BTC
                    </div>
                  </div>
                  <div class="frame-22">
                    <div class="bt-selector">
                      <span class="hours">
                      $ USD
                      </span>
                      <div class="fi-sr-angle-small-down-1">
                        <img class="vector-18" src="/static/css/assets/vectors/vector_38_x2.svg" />
                      </div>
                    </div>
                    <div class="bt-selector-1">
                      <span class="hours-1">
                      24 hours
                      </span>
                      <div class="fi-sr-angle-small-down-2">
                        <img class="vector-19" src="/static/css/assets/vectors/vector_x2.svg" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-23">
                  <div class="frame-21">
                    <div class="container-4">
                    $
                    </div>
                    <span class="container-3">
                    29,137 
                    </span>
                  </div>
                  <div class="change-1">
                    <div class="fi-sr-caret-up">
                      <img class="vector-20" src="/static/css/assets/vectors/vector_37_x2.svg" />
                    </div>
                    <span class="container-5">
                    12% 
                    </span>
                  </div>
                </div>
              </div>
              <div class="graph">
                <div class="container-1">
                  <div class="price">
                    <div class="k">
                    35k
                    </div>
                    <div class="k-1">
                    33k
                    </div>
                    <div class="k-2">
                    31k
                    </div>
                    <span class="k-3">
                    29k
                    </span>
                  </div>
                  <div class="graph-1">
                    <img class="graph-outline" src="/static/css/assets/vectors/graph_outline_x2.svg" />
                    <div class="dialog">
                      <img class="rectangle-11" src="/static/css/assets/vectors/rectangle_11_x2.svg" />
                      <span class="container-6">
                      $32,198
                      </span>
                      <span class="pm-4">
                      3 PM
                      </span>
                    </div>
                    <div class="line-3">
                    </div>
                  </div>
                </div>
                <div class="time">
                  <span class="am">
                  6 AM
                  </span>
                  <span class="am-1">
                  9 AM
                  </span>
                  <span class="pm">
                  12 PM
                  </span>
                  <span class="pm-1">
                  3 PM
                  </span>
                  <span class="pm-2">
                  6 PM
                  </span>
                  <span class="pm-3">
                  9 PM
                  </span>
                  <span class="am-2">
                  12 AM
                  </span>
                  <span class="am-3">
                  3 AM
                  </span>
                </div>
                <div class="line">
                  <div class="line-1">
                  </div>
                  <div class="line-31">
                  </div>
                  <div class="line-4">
                  </div>
                  <div class="line-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-39">
              <div class="frame-38">
                <div class="market-stats">
                Market stats
                </div>
                <div class="frame-40">
                  <div class="activity">
                    <div class="activity-2">
                    Activity: 
                    </div>
                    <div class="buy">
                    70% buy
                    </div>
                    <div class="activity-indicator">
                      <div class="r-1">
                      </div>
                      <div class="r-2">
                      </div>
                      <div class="r-3">
                      </div>
                      <div class="r-4">
                      </div>
                      <div class="r-5">
                      </div>
                      <div class="r-6">
                      </div>
                      <div class="r-7">
                      </div>
                      <div class="r-8">
                      </div>
                      <div class="r-9">
                      </div>
                      <div class="r-10">
                      </div>
                      <div class="r-11">
                      </div>
                      <div class="r-12">
                      </div>
                      <div class="r-13">
                      </div>
                      <div class="r-14">
                      </div>
                      <div class="r-15">
                      </div>
                      <div class="r-16">
                      </div>
                      <div class="r-17">
                      </div>
                      <div class="r-18">
                      </div>
                      <div class="r-19">
                      </div>
                      <div class="r-20">
                      </div>
                    </div>
                    <div class="buy-1">
                    30% sell
                    </div>
                  </div>
                  <div class="activity-1">
                    <span class="popularity">
                    Popularity
                    </span>
                    <span class="container">
                    #1
                    </span>
                  </div>
                </div>
              </div>
              <div class="frame-43">
                <div class="info">
                  <div class="market-cap">
                  Market Cap
                  </div>
                  <div class="frame-42">
                    <div class="b">
                    $700.56 B 
                    </div>
                    <span class="of-crypto-market">
                    33% of crypto market
                    </span>
                  </div>
                </div>
                <div class="line-5">
                </div>
                <div class="info-1">
                  <div class="volume-24-h">
                  Volume(24h)
                  </div>
                  <div class="frame-421">
                    <div class="b-1">
                    $29.78 B 
                    </div>
                    <div class="change">
                      <div class="fi-sr-caret-up-3">
                        <img class="vector-36" src="/static/css/assets/vectors/vector_20_x2.svg" />
                      </div>
                      <span class="container-13">
                      30%
                      </span>
                    </div>
                  </div>
                </div>
                <div class="line-6">
                </div>
                <div class="info-2">
                  <div class="circulating-supply">
                  Circulating supply
                  </div>
                  <div class="frame-422">
                    <div class="mbtc">
                    18.5M  BTC 
                    </div>
                    <span class="of-total-supply">
                    92% of total supply
                    </span>
                  </div>
                </div>
                <div class="line-7">
                </div>
                <div class="info-3">
                  <div class="typical-hold-time">
                  Typical hold time
                  </div>
                  <div class="frame-423">
                    <span class="days">
                    90 days
                    </span>
                  </div>
                </div>
              </div>
              <div class="line-32">
              </div>
              <div class="frame-48">
                <div class="frame-44">
                  <div class="performance">
                  Performance
                  </div>
                  <span class="update-april-1420241154-pm">
                  Update April 14, 2024 11:54 PM
                  </span>
                </div>
                <div class="frame-45">
                  <div class="past-year">
                  Past year
                  </div>
                  <div class="line-51">
                  </div>
                  <div class="frame-46">
                    <div class="bitcoin">
                    Bitcoin
                    </div>
                    <span class="container-1">
                    +246%
                    </span>
                  </div>
                  <div class="line-61">
                  </div>
                  <div class="frame-47">
                    <div class="market">
                    Market
                    </div>
                    <span class="container-2">
                    +329%
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-2">
            <div class="frame-31">
              <div class="frame-30">
                <div class="bt-underscore">
                  <span class="button">
                  Buy
                  </span>
                </div>
                <div class="bt-underscore-1">
                  <span class="button-1">
                  Sell
                  </span>
                </div>
              </div>
              <div class="frame-33">
                <div class="bt-pay">
                  <div class="txt">
                    <span class="you-will-pay">
                    You will pay
                    </span>
                  </div>
                  <div class="bt-1">
                    <div class="search-for-coins-1">
                    0.00
                    </div>
                    <div class="frame-32">
                      <div class="crypto">
                        <div class="bitcoin-3">
                          <img class="group-2" src="/static/css/assets/vectors/group_8_x2.svg" />
                        </div>
                        <span class="btc-1">
                        BTC
                        </span>
                      </div>
                      <div class="bt-chevron">
                        <img class="vector-23" src="/static/css/assets/vectors/vector_8_x2.svg" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bt-pay-1">
                  <div class="txt-1">
                    <span class="you-will-pay-1">
                    You will receive
                    </span>
                  </div>
                  <div class="bt-2">
                    <div class="search-for-coins-2">
                    0.00
                    </div>
                    <div class="frame-321">
                      <div class="usd">
                        <div class="usa">
                          <div class="united-states-1">
                          </div>
                        </div>
                        <span class="usd-1">
                        USD
                        </span>
                      </div>
                      <div class="bt-chevron-1">
                        <img class="vector-24" src="/static/css/assets/vectors/vector_4_x2.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bt">
                <span class="button-2">
                Buy now
                </span>
              </div>
            </div>
            <div class="frame-36">
              <div class="frame-34">
                <div class="prices">
                Prices
                </div>
                <div class="bt-selector-2">
                  <span class="hours-2">
                  Watchlist
                  </span>
                  <div class="fi-sr-angle-small-down-3">
                    <img class="vector-25" src="/static/css/assets/vectors/vector_22_x2.svg" />
                  </div>
                </div>
              </div>
              <div class="frame-35">
                <div class="crypto-price">
                  <div class="frame-13">
                    <div class="ethereum-1">
                      <img class="group-3" src="/static/css/assets/vectors/group_2_x2.svg" />
                    </div>
                    <div class="frame-11">
                      <span class="ethereum">
                      Ethereum
                      </span>
                      <span class="eth">
                      Eth
                      </span>
                    </div>
                  </div>
                  <div class="frame-14">
                    <div class="change-2">
                      <div class="fi-sr-caret-up-1">
                        <img class="vector-31" src="/static/css/assets/vectors/vector_12_x2.svg" />
                      </div>
                      <span class="container-7">
                      12% 
                      </span>
                    </div>
                    <span class="container-8">
                    $19.73
                    </span>
                  </div>
                </div>
                <div class="crypto-price-1">
                  <div class="frame-131">
                    <div class="solana">
                      <img class="vector-32" src="/static/css/assets/vectors/vector_32_x2.svg" />
                    </div>
                    <div class="frame-111">
                      <span class="ethereum-2">
                      Solana
                      </span>
                      <span class="eth-1">
                      SOL
                      </span>
                    </div>
                  </div>
                  <div class="frame-141">
                    <div class="change-3">
                      <div class="fi-sr-caret-down">
                        <img class="vector-33" src="/static/css/assets/vectors/vector_50_x2.svg" />
                      </div>
                      <span class="container-9">
                      9% 
                      </span>
                    </div>
                    <span class="container-10">
                    $12.96
                    </span>
                  </div>
                </div>
                <div class="crypto-price-2">
                  <div class="frame-132">
                    <div class="ripple">
                      <div class="group-4">
                        <img class="shape" src="/static/css/assets/vectors/shape_x2.svg" />
                      </div>
                    </div>
                    <div class="frame-112">
                      <span class="ethereum-3">
                      Ripple
                      </span>
                      <span class="eth-2">
                      XRP 
                      </span>
                    </div>
                  </div>
                  <div class="frame-142">
                    <div class="change-4">
                      <div class="fi-sr-caret-up-2">
                        <img class="vector-34" src="/static/css/assets/vectors/vector_3_x2.svg" />
                      </div>
                      <span class="container-11">
                      12% 
                      </span>
                    </div>
                    <span class="container-12">
                    $8.21
                    </span>
                  </div>
                </div>
              </div>
              <div class="bt-arrow">
                <span class="view-all">
                View all
                </span>
                <div class="fi-sr-arrow-small-right">
                  <img class="vector-35" src="/static/css/assets/vectors/vector_5_x2.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>