<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="financial-dashboard">
      <div class="div">
        <div class="frame">
          <div class="overlap">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="frame-2">
              <div class="text-wrapper">Welcome back!</div>
              <div class="div-2">
                <div class="text-wrapper-2">Moses Onerhime</div>
                <img class="img" src="/static/css/img/frame-63.svg" />
              </div>
            </div>
            <div class="frame-3">
              <div class="frame-4">
                <div class="frame-5">
                  <div class="text-wrapper-3">Your Stock Portfolio</div>
                  <div class="div-2">
                    <div class="text-wrapper-4">View All</div>
                    <img class="icon-arrow-right" src="/static/css/img/icon-arrow-right-1.png" />
                  </div>
                </div>
                <div class="frame-6">
                  <div class="frame-7">
                    <div class="rectangle"></div>
                    <div class="frame-8">
                      <div class="frame-9">
                        <div class="text-wrapper-5">Netflix</div>
                        <div class="text-wrapper-6">$416.03</div>
                      </div>
                      <div class="frame-10">
                        <div class="text-wrapper-7">NFLX</div>
                        <div class="text-wrapper-8">+2.37%</div>
                      </div>
                    </div>
                    <img class="area-chart" src="/static/css/img/area-chart.png" />
                  </div>
                  <div class="frame-7">
                    <div class="rectangle"></div>
                    <div class="frame-8">
                      <div class="frame-9">
                        <div class="text-wrapper-5">Meta</div>
                        <div class="text-wrapper-6">$285.50</div>
                      </div>
                      <div class="frame-10">
                        <div class="text-wrapper-7">META</div>
                        <div class="text-wrapper-9">-0.44%</div>
                      </div>
                    </div>
                    <img class="area-chart-2" src="/static/css/img/area-chart-1.png" />
                  </div>
                  <div class="frame-7">
                    <div class="rectangle"></div>
                    <div class="frame-8">
                      <div class="frame-9">
                        <div class="text-wrapper-5">Apple</div>
                        <div class="text-wrapper-6">$178.61</div>
                      </div>
                      <div class="frame-10">
                        <div class="text-wrapper-7">AAPL</div>
                        <div class="text-wrapper-8">+1.36%</div>
                      </div>
                    </div>
                    <img class="area-chart" src="/static/css/img/area-chart-2.png" />
                  </div>
                </div>
              </div>
              <div class="frame-6">
                <div class="frame-11">
                  <div class="frame-12">
                    <div class="frame-13">
                      <div class="text-wrapper-10">Total Investment</div>
                      <div class="text-wrapper-11">$10,216.53</div>
                    </div>
                    <div class="frame-14">
                      <div class="div-wrapper"><div class="text-wrapper-12">Day</div></div>
                      <div class="div-wrapper"><div class="text-wrapper-12">Week</div></div>
                      <div class="frame-15"><div class="text-wrapper-13">Month</div></div>
                    </div>
                  </div>
                  <div class="area-chart-wrapper">
                    <div class="area-chart-3">
                      <div class="overlap-group">
                        <div class="frame-16">
                          <img class="vector" src="/static/css/img/vector.svg" />
                          <img class="vector-2" src="/static/css/img/vector-1.svg" />
                          <img class="vector-2" src="/static/css/img/vector-2.svg" />
                          <img class="vector-2" src="/static/css/img/vector-3.svg" />
                          <img class="vector-3" src="/static/css/img/vector-4.svg" />
                          <img class="vector-4" src="/static/css/img/vector-5.svg" />
                          <div class="ellipse-3"></div>
                        </div>
                        <img class="vector-5" src="/static/css/img/vector-6.svg" />
                        <img class="vector-6" src="/static/css/img/vector-7.svg" />
                      </div>
                      <div class="frame-17">
                        <div class="text-wrapper-14">Jan</div>
                        <div class="text-wrapper-14">Feb</div>
                        <div class="text-wrapper-14">Mar</div>
                        <div class="text-wrapper-14">Apr</div>
                        <div class="text-wrapper-14">May</div>
                        <div class="text-wrapper-14">Jun</div>
                        <div class="text-wrapper-14">Jul</div>
                        <div class="text-wrapper-14">Aug</div>
                        <div class="text-wrapper-14">Sep</div>
                        <div class="text-wrapper-14">Oct</div>
                        <div class="text-wrapper-14">Nov</div>
                        <div class="text-wrapper-14">Dec</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-18">
                    <div class="text-wrapper-15">Aug 12</div>
                    <div class="text-wrapper-16">$9,239.12</div>
                  </div>
                  <div class="rectangle-2"></div>
                </div>
                <div class="frame-19">
                  <div class="frame-20">
                    <div class="text-wrapper-17">Stock Chart</div>
                    <div class="div-2">
                      <div class="text-wrapper-4">View All</div>
                      <img class="icon-arrow-right" src="/static/css/img/icon-arrow-right-1.png" />
                    </div>
                  </div>
                  <div class="frame-21">
                    <div class="frame-22">
                      <div class="text-wrapper-18">#</div>
                      <div class="text-wrapper-19">Name</div>
                      <div class="text-wrapper-19">Price</div>
                      <div class="text-wrapper-20">Status</div>
                    </div>
                    <div class="frame-23">
                      <div class="text-wrapper-21">1</div>
                      <div class="text-wrapper-22">NFLX</div>
                      <div class="text-wrapper-23">$416.03</div>
                      <div class="text-wrapper-24">+2.37%</div>
                    </div>
                    <div class="frame-23">
                      <div class="text-wrapper-21">2</div>
                      <div class="text-wrapper-22">AMZN</div>
                      <div class="text-wrapper-23">$251.64</div>
                      <div class="text-wrapper-24">+2.09%</div>
                    </div>
                    <div class="frame-23">
                      <div class="text-wrapper-21">3</div>
                      <div class="text-wrapper-22">AAPL</div>
                      <div class="text-wrapper-23">$178.61</div>
                      <div class="text-wrapper-24">+1.36%</div>
                    </div>
                    <div class="frame-23">
                      <div class="text-wrapper-21">4</div>
                      <div class="text-wrapper-22">NFLX</div>
                      <div class="text-wrapper-23">$416.03</div>
                      <div class="text-wrapper-24">+0.25%</div>
                    </div>
                    <div class="frame-23">
                      <div class="text-wrapper-21">5</div>
                      <div class="text-wrapper-22">META</div>
                      <div class="text-wrapper-25">$285.50</div>
                      <div class="text-wrapper-26">-0.44%</div>
                    </div>
                  </div>
                  <div class="rectangle-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="rectangle">
            <div class="sidebar-section">
              <form action="/home" method="get">
                <button class="menu">
                  <div class="sidebar-item-2">
                    <div class="div-2">
                      <img class="img" src="/static/css/img/dashboard.svg" />
                      <div class="text-wrapper-27">Dashboard</div>
                    </div>
                  </div>
                </button>
              </form>
              <form action="/home" method="get">
                <button class="menu">
                  <div class="sidebar-item-2">
                    <div class="div-2">
                      <div class="img"><img class="wallet" src="/static/css/img/wallet.png" /></div>
                      <div class="text-wrapper-27">Wallet</div>
                    </div>
                  </div>
                </button>
              </form>                    
              <form action="/trading" method="get">
                <button class="menu">
                  <div class="sidebar-item-2">
                    <div class="div-2">
                      <img class="img" src="/static/css/img/show-chart.svg" />
                      <div class="text-wrapper-28">Market</div>
                    </div>
                  </div>
                </button>
              </form>
              <form action="/order_history" method="get">
                <button class="menu">
                  <div class="sidebar-item-2">
                    <div class="div-2">
                      <img class="img" src="/static/css/img/import-export.svg" />
                      <div class="text-wrapper-28">Transaction</div>
                    </div>
                  </div>
                </button>
              </form>
              <form action="/home" method="get">
                <button class="menu">
                  <div class="sidebar-item-2">
                    <div class="div-2">
                      <img class="img" src="/static/css/img/person-outline.svg" />
                      <div class="text-wrapper-28">Setting</div>
                    </div>
                  </div>
                </button>
              </form>                             
            </div>
            <div class="ellipse-4"></div>
            <div class="logo-section">
              <p class="tradesphere-by-moses">
                <span class="span">TradeSphere<br /></span> <span class="text-wrapper-29">by Moses Onerhime</span>
              </p>
            </div>
          </div>
        </div>                
      </div>
    </div>
  </body>
</html>
