<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('login') === 'failed') {
                alert('Invalid credentials!');
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
        <p>
            Don't have an account? 
            <a href="/create_user" class="back-link">Create one</a>
        </p>
    </div>
</body>
</html>
