<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/market/styleguide.css" />
    <link rel="stylesheet" href="/static/css/market/style.css" />
  </head>
  <body>
    <div class="financial-market">
      <div class="div">
        <div class="frame">
          <div class="overlap">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="frame-2">
              <div class="text-wrapper">Market</div>
              <div class="div-2">
                <div class="text-wrapper-2">Moses Onerhime</div>
                <img class="img" src="/static/css/market/img/frame-63.svg" />
              </div>
            </div>
            <div class="frame-3">
              <div class="frame-4">
                <div class="frame-wrapper">
                  <div class="frame-5">
                    <div class="frame-6">
                      <div class="frame-7">
                        <div class="frame-8">
                          <div class="crypto-big">
                            <img class="bitcoin" src="/static/css/market/img/bitcoin.svg" />
                            <div class="bitcoin-2">Apple</div>
                            <div class="BTC">AAPL</div>
                          </div>
                          <div class="frame-9">
                            <div class="bt-selector">
                              <div class="text-wrapper-3">$ USD</div>
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-5.svg" />
                              </div>
                            </div>
                            <div class="bt-selector">
                              <div class="text-wrapper-3">24 hours</div>
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-5.svg" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="price-big-wrapper">
                          <div class="price-big">
                            <div class="frame-10">
                              <div class="text-wrapper-4">$</div>
                              <div class="text-wrapper-5">29,137</div>
                            </div>
                            <div class="div-3">
                              <div class="fi-sr-caret-up"></div>
                              <div class="text-wrapper-6">12%</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="graph">
                        <div class="price">
                          <div class="text-wrapper-7">35k</div>
                          <div class="text-wrapper-8">33k</div>
                          <div class="text-wrapper-8">31k</div>
                          <div class="text-wrapper-8">29k</div>
                        </div>
                        <div class="time">
                          <div class="text-wrapper-7">6 AM</div>
                          <div class="text-wrapper-7">9 AM</div>
                          <div class="text-wrapper-7">12 PM</div>
                          <div class="text-wrapper-7">3 PM</div>
                          <div class="text-wrapper-7">6 PM</div>
                          <div class="text-wrapper-7">9 PM</div>
                          <div class="text-wrapper-7">12 AM</div>
                          <div class="text-wrapper-7">3 AM</div>
                        </div>
                        <div class="overlap-group">
                          <div class="overlap-wrapper">
                            <div class="overlap-2">
                              <img class="line" src="/static/css/market/img/line-3-2.svg" />
                              <div class="dialog">
                                <div class="div-wrapper">
                                  <div class="frame-11">
                                    <div class="text-wrapper-9">$32,198</div>
                                    <div class="text-wrapper-10">3 PM</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="line-2">
                            <img class="line-3" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-6">
                      <div class="frame-7">
                        <div class="frame-8">
                          <div class="crypto-big">
                            <img class="bitcoin" src="/static/css/market/img/bitcoin-1.svg" />
                            <div class="bitcoin-2">Apple</div>
                            <div class="BTC">AAPL</div>
                          </div>
                          <div class="frame-9">
                            <div class="bt-selector">
                              <div class="text-wrapper-3">$ USD</div>
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-7.svg" />
                              </div>
                            </div>
                            <div class="bt-selector">
                              <div class="text-wrapper-3">24 hours</div>
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-7.svg" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="price-big-wrapper">
                          <div class="price-big">
                            <div class="frame-10">
                              <div class="text-wrapper-4">$</div>
                              <div class="text-wrapper-5">29,137</div>
                            </div>
                            <div class="div-3">
                              <div class="fi-sr-caret-up-2"></div>
                              <div class="text-wrapper-6">12%</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="graph">
                        <div class="price">
                          <div class="text-wrapper-7">35k</div>
                          <div class="text-wrapper-8">33k</div>
                          <div class="text-wrapper-8">31k</div>
                          <div class="text-wrapper-8">29k</div>
                        </div>
                        <div class="time">
                          <div class="text-wrapper-7">6 AM</div>
                          <div class="text-wrapper-7">9 AM</div>
                          <div class="text-wrapper-7">12 PM</div>
                          <div class="text-wrapper-7">3 PM</div>
                          <div class="text-wrapper-7">6 PM</div>
                          <div class="text-wrapper-7">9 PM</div>
                          <div class="text-wrapper-7">12 AM</div>
                          <div class="text-wrapper-7">3 AM</div>
                        </div>
                        <div class="overlap-group">
                          <div class="overlap-wrapper">
                            <div class="overlap-2">
                              <img class="line" src="/static/css/market/img/line-3-2.svg" />
                              <div class="dialog">
                                <div class="div-wrapper">
                                  <div class="frame-11">
                                    <div class="text-wrapper-9">$32,198</div>
                                    <div class="text-wrapper-10">3 PM</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="line-2">
                            <img class="line-3" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-12">
                  <div class="frame-13">
                    <div class="bt-underscore"><button class="button">Buy</button></div>
                    <div class="button-wrapper"><button class="button">Sell</button></div>
                  </div>
                  <div class="frame-14">
                    <div class="frame-15">
                      <div class="bt-search">
                        <input type="text" id="symbol" name="symbol" placeholder="Symbol" required>
                        <!-- <div class="text-wrapper-11">Symbol</div> -->                         
                      </div>
                      <div class="bt-search">
                        <input type="number" id="quantity" name="quantity" placeholder="Quantity" required>
                        <!-- <div class="text-wrapper-11">Quantity</div> -->
                      </div>
                      <div class="bt"><div class="text-wrapper-12">Get price</div></div>
                    </div>
                    <div class="frame-16">
                      <div class="bt-pay">
                        <div class="txt"><div class="text-wrapper-13">You will pay</div></div>
                        <div class="bt-2">
                          <input type="number" id="you_will_pay" name="you_will_pay" placeholder="0.00" required>
                          <!-- <div class="search-for-coins">0.00</div> -->
                          <div class="frame-17">
                            <div class="div-3">
                              <div class="usa"></div>
                              <div class="text-wrapper-14">USD</div>
                            </div>
                            <div class="bt-chevron">
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-8.svg" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bt-pay">
                        <div class="txt"><div class="text-wrapper-13">You will receive</div></div>
                        <div class="bt-2">
                          <input type="number" id="you_will_receive" name="you_will_receive" placeholder="0.00" required>
                          <!-- <div class="search-for-coins">0.00</div> -->
                          <div class="frame-17">
                            <div class="div-3">
                              <div class="usa-2"></div>
                              <div class="text-wrapper-14">AAPL</div>
                            </div>
                            <img class="bt-chevron-2" src="/static/css/market/img/bt-chevron.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="bt-3">
                    <button class="button-2">Buy now</button>
                  </button> -->
                  
                    <button class="menu">
                      <div class="button-2">Buy Now</div>
                    </button>
                  
                  
                </div>
              </div>
              <div class="frame-18">
                <div class="frame-19">
                  <div class="frame-20">
                    <div class="text-wrapper-15">Stock Chart</div>
                    <div class="div-2">
                      <div class="text-wrapper-16">View All</div>
                      <img class="icon-arrow-right" src="/static/css/market/img/icon-arrow-right-1.png" />
                    </div>
                  </div>
                  <div class="frame-21">
                    <div class="frame-22">
                      <div class="frame-23"><div class="text-wrapper-17">#</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">1</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">2</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">3</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">4</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">5</div></div>
                    </div>
                    <div class="frame-22">
                      <div class="frame-23"><div class="text-wrapper-17">Symbol</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">NFLX</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">AMZN</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">AAPL</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">NFLX</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">META</div></div>
                    </div>
                    <div class="frame-24">
                      <div class="frame-25"><div class="text-wrapper-19">Price</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$251.64</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$178.61</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$285.50</div></div>
                    </div>
                    <div class="frame-26">
                      <div class="frame-27"><div class="text-wrapper-20">Status</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+2.37%</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+2.09%</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+1.36%</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+0.25%</div></div>
                      <div class="frame-27"><div class="text-wrapper-22">-0.44%</div></div>
                    </div>
                  </div>
                </div>
                <div class="frame-28">
                  <div class="frame-20">
                    <div class="text-wrapper-15">All Transactions</div>
                    <div class="div-2">
                      <div class="text-wrapper-16">See All Transactions</div>
                      <img class="icon-arrow-right" src="/static/css/market/img/icon-arrow-right-1.png" />
                    </div>
                  </div>
                  <div class="frame-29">
                    <div class="frame-30">
                      <div class="frame-23"><div class="text-wrapper-17">Symbol</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">NFLX</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">AMZN</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">AAPL</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">NFLX</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">META</div></div>
                    </div>
                    <div class="frame-24">
                      <div class="frame-23"><div class="text-wrapper-23">Type</div></div>
                      <div class="frame-23"><div class="text-wrapper-24">buy</div></div>
                      <div class="frame-23"><div class="text-wrapper-24">buy</div></div>
                      <div class="frame-23"><div class="text-wrapper-24">sell</div></div>
                      <div class="frame-23"><div class="text-wrapper-24">buy</div></div>
                      <div class="frame-23"><div class="text-wrapper-24">sell</div></div>
                    </div>
                    <div class="frame-24">
                      <div class="frame-23"><div class="text-wrapper-31">Quantity</div></div>
                      <div class="frame-23"><div class="text-wrapper-26">1</div></div>
                      <div class="frame-23"><div class="text-wrapper-26">1</div></div>
                      <div class="frame-23"><div class="text-wrapper-26">1</div></div>
                      <div class="frame-23"><div class="text-wrapper-26">1</div></div>
                      <div class="frame-23"><div class="text-wrapper-26">1</div></div>
                    </div>
                    <div class="frame-24">
                      <div class="frame-25"><div class="text-wrapper-27">Price</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$251.64</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$178.61</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$285.50</div></div>
                    </div>
                    <div class="frame-24">
                      <div class="frame-25"><div class="text-wrapper-27">Total</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$251.64</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$178.61</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-28">$285.50</div></div>
                    </div>
                    <div class="frame-31">
                      <div class="frame-27"><div class="date-time">Date &amp; Time</div></div>
                      <div class="frame-27"><div class="text-wrapper-29">2024-08-20T16:23:49</div></div>
                      <div class="frame-27"><div class="text-wrapper-29">2024-08-20T16:23:49</div></div>
                      <div class="frame-27"><div class="text-wrapper-29">2024-08-20T16:23:49</div></div>
                      <div class="frame-27"><div class="text-wrapper-29">2024-08-20T16:23:49</div></div>
                      <div class="frame-27"><div class="text-wrapper-29">2024-08-20T16:23:49</div></div>
                    </div>
                    <div class="frame-26">
                      <div class="frame-27"><div class="text-wrapper-20">Status</div></div>
                      <div class="frame-27"><div class="text-wrapper-30">Completed</div></div>
                      <div class="frame-27"><div class="text-wrapper-30">Completed</div></div>
                      <div class="frame-27"><div class="text-wrapper-30">Completed</div></div>
                      <div class="frame-27"><div class="text-wrapper-30">Completed</div></div>
                      <div class="frame-27"><div class="text-wrapper-30">Completed</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="tab-bar">
            <div class="overlap-4">
              <div class="rectangle"></div>
              <div class="sidebar-section">
                <form action="/dashboard" method="get"> 
                  <button class="menu">
                    <div class="sidebar-item">  
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/show-chart.svg" />
                          <div class="text-wrapper-31">Dashboard</div>
                      </div>            
                    </div>
                  </button>
                </form>                      
                <form action="/dashboard" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <div class="img"><img class="wallet" src="/static/css/dashboard/img/wallet.png" /></div>
                        <div class="text-wrapper-31">Wallet</div>
                      </div>
                    </div>
                  </button>
                </form>
                <form action="/market" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/show-chart-1.svg" />
                        <div class="text-wrapper-31" style="color: #BA4FFC;">Market</div>
                      </div>
                    </div>
                  </button>
                </form>                             
                <form action="/order_history" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/import-export.svg" />
                        <div class="text-wrapper-31">Transaction</div>
                      </div>
                    </div>
                  </button>
                </form>
                <form action="/dashboard" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/person-outline.svg" />
                        <div class="text-wrapper-31">Setting</div>
                      </div>
                    </div>
                  </button>
                </form>                    
              </div>
              <div class="logo-section">
                <p class="tradesphere-by-moses">
                  <span class="span">TradeSphere<br /></span> <span class="text-wrapper-32">by Moses Onerhime</span>
                </p>
              </div>
            </div>
          </div>
          <div class="ellipse-3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
