<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/market/styleguide.css" />
    <link rel="stylesheet" href="/static/css/market/style.css" />
    <script>
      window.onload = function() {
        // Initialize the display
        document.getElementById('sell-tab').style.display = 'none';
        // document.getElementById('buy-tab').style.display = 'none';

        // Add event listeners to toggle between tabs
        document.getElementById('buy-tab-button').addEventListener('click', function() {
            document.getElementById('buy-tab').style.display = 'block';
            document.getElementById('sell-tab').style.display = 'none';
        });

        document.getElementById('sell-tab-button').addEventListener('click', function() {
            document.getElementById('buy-tab').style.display = 'none';
            document.getElementById('sell-tab').style.display = 'block';
        });
      }
    </script>

  </head>
  <body>
    <div class="financial-market">
      <div class="div">
        <div class="frame">
          <div class="overlap">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="frame-2">
              <div class="text-wrapper">Market</div>
              <div class="div-2">
                <div class="text-wrapper-2">{{ username }}</div>
                <img class="img" src="/static/css/market/img/frame-63.svg" />
              </div>
            </div>
            <div class="frame-3">
              <div class="frame-4">
                <div class="frame-wrapper">
                  <div class="frame-5">
                    <div class="frame-6">
                      <div class="frame-7">
                        <div class="frame-8">
                          <div class="crypto-big">
                            <img class="bitcoin" src="/static/css/market/img/bitcoin.svg" />
                            <div class="bitcoin-2">Apple</div>
                            <div class="BTC">AAPL</div>
                          </div>
                          <div class="frame-9">
                            <div class="bt-selector">
                              <div class="text-wrapper-3">$ USD</div>
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-5.svg" />
                              </div>
                            </div>
                            <div class="bt-selector">
                              <div class="text-wrapper-3">24 hours</div>
                              <div class="fi-sr-angle-small">
                                <img class="fi-sr-angle-small-2" src="/static/css/market/img/fi-sr-angle-small-down-5.svg" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="price-big-wrapper">
                          <div class="price-big">
                            <div class="frame-10">
                              <div class="text-wrapper-4">$</div>
                              <div class="text-wrapper-5">29,137</div>
                            </div>
                            <div class="div-3">
                              <div class="fi-sr-caret-up"></div>
                              <div class="text-wrapper-6">12%</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="graph">
                        <div class="price">
                          <div class="text-wrapper-7">35k</div>
                          <div class="text-wrapper-8">33k</div>
                          <div class="text-wrapper-8">31k</div>
                          <div class="text-wrapper-8">29k</div>
                        </div>
                        <div class="time">
                          <div class="text-wrapper-7">6 AM</div>
                          <div class="text-wrapper-7">9 AM</div>
                          <div class="text-wrapper-7">12 PM</div>
                          <div class="text-wrapper-7">3 PM</div>
                          <div class="text-wrapper-7">6 PM</div>
                          <div class="text-wrapper-7">9 PM</div>
                          <div class="text-wrapper-7">12 AM</div>
                          <div class="text-wrapper-7">3 AM</div>
                        </div>
                        <div class="overlap-group">
                          <div class="overlap-wrapper">
                            <div class="overlap-2">
                              <img class="line" src="/static/css/market/img/line-3-2.svg" />
                              <div class="dialog">
                                <div class="div-wrapper">
                                  <div class="frame-11">
                                    <div class="text-wrapper-9">$32,198</div>
                                    <div class="text-wrapper-10">3 PM</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="line-2">
                            <img class="line-3" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                            <img class="line-4" src="/static/css/market/img/line-2-1.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-12">
                  <div class="frame-13">
                    <div class="bt-underscore">
                      <button class="tab" id="buy-tab-button">Buy</button>
                    </div>
                    <div class="bt-underscore">
                      <button class="tab" id="sell-tab-button">Sell</button>
                    </div>
                  </div>

                  <div class="frame-14" id="buy-tab">
                    <div class="frame-15">
                      
                      <form class="frame-15" id="buyOrderForm" action="/market_price" method="post">
                        <div>
                          <label>Buy Order</label>
                        </div>
                        <div class="bt-search">
                          <input type="text" id="symbol" name="symbol" placeholder="Symbol" required>
                        </div>
                        <div class="bt-search">
                          <input type="number" id="quantity" name="quantity" placeholder="Quantity" required>
                        </div>
                        <!-- Hidden field for order_type -->
                        <input type="hidden" name="order_type" value="buy">
                        <button type="submit" class="menu main2">
                          <div class="text-wrapper-12">Get price</div>
                        </button>
                      
                        <div class="frame-order-info">
                          {% if error %}
                          <p class="quantity-price-per" style="color: red;">{{ error }}</p>
                          {% else %}
                          <p class="quantity-price-per">
                            Quantity: {{ quantity | default(value="0") }}<br />
                            Price per Share: ${{ price | default(value="0.00") }}<br />
                            Total Value: ${{ total_value | default(value="0.00") }}<br />
                            Current Balance: ${{ new_balance | default(value="0.00") }}
                          </p>
                          {% endif %}
                        </div>
                        
                        <button type="button" class="menu main" onclick="submitBuyNowForm()">
                          <div class="button-2">Buy Now</div>
                        </button>
                      </form>
                      
                      <script>
                        function submitBuyNowForm() {
                          var form = document.getElementById('buyOrderForm');
                          form.action = '/market_process';
                          form.method = 'post';
                          form.submit();
                        }
                      </script>
                      
                      
                      

                      <!-- <form class="frame-15" action="/market_process" method="post">
                        <div class="frame-16">
                          <div class="bt-pay">
                            <div class="txt"><div class="text-wrapper-13">You will pay</div></div>
                            <div class="bt-2">
                              <input class="number" type="number" id="you_will_pay" name="you_will_pay" placeholder="{{ total_value | default(value=0.00) }}" required>
                              <div class="frame-17">
                                <div class="div-3">
                                  <div class="usa"></div>
                                  <div class="text-wrapper-14">USD</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="bt-pay">
                            <div class="txt"><div class="text-wrapper-13">You will receive</div></div>
                            <div class="bt-2">
                              <input type="number" id="you_will_receive" name="you_will_receive" placeholder="{{ quantity | default(value=0.00) }}" required>
                              <div class="frame-17">
                                <div class="div-3">
                                  <div class="usa-2"></div>
                                  <div class="text-wrapper-14">AAPL</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form> -->
                      
                    </div>
                  </div>


                  <div class="frame-14" id="sell-tab">
                    <div class="frame-15">
                      <form class="frame-15" id="sellOrderForm" action="/market_price" method="post">
                        <div>
                          <label>Sell Order</label>
                        </div>
                        <div class="bt-search">
                          <input type="text" id="symbol" name="symbol" placeholder="Symbol" required>
                        </div>
                        <div class="bt-search">
                          <input type="number" id="quantity" name="quantity" placeholder="Quantity" required>
                        </div>
                        <!-- Hidden field for order_type -->
                        <input type="hidden" name="order_type" value="sell">

                        <button class="menu main2">
                          <div class="text-wrapper-12">Get price</div>
                        </button>

                        <div class="frame-order-info">
                          {% if error %}
                          <p class="quantity-price-per" style="color: red;">{{ error }}</p>
                          {% else %}
                          <p class="quantity-price-per">
                            Quantity: {{ quantity | default(value="0") }}<br />
                            Price per Share: ${{ price | default(value="0.00") }}<br />
                            Total Value: ${{ total_value | default(value="0.00") }}<br />
                            Current Balance: ${{ new_balance | default(value="0.00") }}
                          </p>
                          {% endif %}
                        </div>

                        <button type="button" class="menu main" onclick="submitSellNowForm()">
                          <div class="button-2">Sell Now</div>
                        </button>
                      </form>

                      <script>
                        function submitSellNowForm() {
                          var form = document.getElementById('sellOrderForm');
                          form.action = '/market_process';
                          form.method = 'post';
                          form.submit();
                        }
                      </script>
                      
                      <!-- <form class="frame-15" action="/market_process" method="post">
                        <div class="frame-16">
                          <div class="bt-pay">
                            <div class="txt"><div class="text-wrapper-13">You will sell</div></div>
                            <div class="bt-2">
                              <input type="number" id="you_will_pay" name="you_will_pay" placeholder="{{ quantity | default(value=0.00) }}" required>
                              <div class="frame-17">
                                <div class="div-3">
                                  <div class="usa-2"></div>
                                  <div class="text-wrapper-14">AAPL</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="bt-pay">
                            <div class="txt"><div class="text-wrapper-13">You will receive</div></div>
                            <div class="bt-2">
                              <input type="number" id="you_will_receive" name="you_will_receive" placeholder="{{ total_value | default(value=0.00) }}" required>
                              <div class="frame-17">
                                <div class="div-3">
                                  <div class="usa"></div>
                                  <div class="text-wrapper-14">USD</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </form> -->
                      
                    </div>
                  </div>
                </div>
              </div>



              <div class="frame-18">
                <div class="frame-19">
                  <div class="frame-20">
                    <div class="text-wrapper-15">Stock Chart</div>
                    <div class="div-2">
                      <div class="text-wrapper-16">View All</div>
                      <img class="icon-arrow-right" src="/static/css/market/img/icon-arrow-right-1.png" />
                    </div>
                  </div>
                  <div class="frame-21">
                    <div class="frame-22">
                      <div class="frame-23"><div class="text-wrapper-17">#</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">1</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">2</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">3</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">4</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">5</div></div>
                    </div>
                    <div class="frame-22">
                      <div class="frame-23"><div class="text-wrapper-17">Symbol</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">NFLX</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">AMZN</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">AAPL</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">NFLX</div></div>
                      <div class="frame-23"><div class="text-wrapper-18">META</div></div>
                    </div>
                    <div class="frame-24">
                      <div class="frame-25"><div class="text-wrapper-19">Price</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$251.64</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$178.61</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$416.03</div></div>
                      <div class="frame-25"><div class="text-wrapper-18">$285.50</div></div>
                    </div>
                    <div class="frame-26">
                      <div class="frame-27"><div class="text-wrapper-20">Status</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+2.37%</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+2.09%</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+1.36%</div></div>
                      <div class="frame-27"><div class="text-wrapper-21">+0.25%</div></div>
                      <div class="frame-27"><div class="text-wrapper-22">-0.44%</div></div>
                    </div>
                  </div>
                </div>
                <div class="frame-28">
                  <div class="frame-20">
                    <div class="text-wrapper-15">All Transactions</div>
                    <div class="div-2">
                      <a href="/order_history" class="div-2">
                        <div class="text-wrapper-16">See All Transactions</div>
                        <img class="icon-arrow-right" src="/static/css/market/img/icon-arrow-right-1.png" />
                      </a>
                    </div>
                  </div>
                  <div class="frame-29">
                    <div class="frame-30">
                      <div class="frame-23"><div class="text-wrapper-17">Symbol</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-23"><div class="text-wrapper-18">{{ order.symbol }}</div></div>
                      {% endfor %}
                    </div>
                    <div class="frame-24">
                      <div class="frame-23"><div class="text-wrapper-23">Type</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-23"><div class="text-wrapper-24">{{ order.order_type }}</div></div>
                      {% endfor %}
                    </div>
                    <div class="frame-24">
                      <div class="frame-23"><div class="text-wrapper-31">Quantity</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-23"><div class="text-wrapper-26">{{ order.quantity }}</div></div>
                      {% endfor %}
                    </div>
                    <div class="frame-24">
                      <div class="frame-25"><div class="text-wrapper-27">Price</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-25"><div class="text-wrapper-28">${{ order.price }}</div></div>
                      {% endfor %}
                    </div>
                    <div class="frame-24">
                      <div class="frame-25"><div class="text-wrapper-27">Total</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-25"><div class="text-wrapper-28">${{ order.total }}</div></div>
                      {% endfor %}
                    </div>
                    <div class="frame-31">
                      <div class="frame-27"><div class="date-time">Date &amp; Time</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-27"><div class="text-wrapper-29">{{ order.created_at }}</div></div>
                      {% endfor %}
                    </div>
                    <div class="frame-26">
                      <div class="frame-27"><div class="text-wrapper-20">Status</div></div>
                      {% for order in orders | slice(start=0, end=5) %}
                      <div class="frame-27"><div class="text-wrapper-30">Completed</div></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="tab-bar">
            <div class="overlap-4">
              <div class="sidebar-section">
                <form action="/dashboard" method="get"> 
                  <button class="menu">
                    <div class="sidebar-item">  
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/show-chart.svg" />
                          <div class="text-wrapper-31">Dashboard</div>
                      </div>            
                    </div>
                  </button>
                </form>                      
                <form action="/dashboard" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <div class="img"><img class="wallet" src="/static/css/dashboard/img/wallet.png" /></div>
                        <div class="text-wrapper-31">Wallet</div>
                      </div>
                    </div>
                  </button>
                </form>
                <form action="/market" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/show-chart-1.svg" />
                        <div class="text-wrapper-31" style="color: #BA4FFC;">Market</div>
                      </div>
                    </div>
                  </button>
                </form>                             
                <form action="/order_history" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/import-export.svg" />
                        <div class="text-wrapper-31">Transaction</div>
                      </div>
                    </div>
                  </button>
                </form>
                <form action="/dashboard" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/person-outline.svg" />
                        <div class="text-wrapper-31">Setting</div>
                      </div>
                    </div>
                  </button>
                </form>                    
              </div>
              <div class="logo-section">
                <p class="tradesphere-by-moses">
                  <span class="span">TradeSphere<br /></span> 
                  <span class="text-wrapper-32">by Moses Onerhime</span>
                </p>
              </div>
            </div>
          </div>
          <div class="ellipse-3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
