<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/transactions/styleguide.css" />
    <link rel="stylesheet" href="/static/css/transactions/style.css" />
  </head>
  <body>
    <div class="financial">
      <div class="div">
        <div class="frame">
          <div class="overlap-group">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="frame-2">
              <div class="text-wrapper">Transactions</div>
              <div class="div-2">
                <div class="text-wrapper-2">Moses Onerhime</div>
                <img class="img" src="/static/css/transactions/img/frame-63.svg" />
              </div>
            </div>
            <div class="frame-wrapper">
              <div class="div-wrapper">
                <div class="frame-3">
                  <div class="frame-4">
                    <div class="frame-5">
                      <div class="text-wrapper-3">All Transactions</div>
                      <div class="div-2">
                        <div class="text-wrapper-4">See All Transactions</div>
                        <img class="icon-arrow-right" src="/static/css/transactions/img/icon-arrow-right.png" />
                      </div>
                    </div>
                    <div class="frame-6">
                      <div class="frame-7">
                        <div class="frame-8">
                          <div class="frame-9"><div class="text-wrapper-5">Symbol</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">NFLX</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">AMZN</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">AAPL</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">NFLX</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">META</div></div>
                        </div>
                        <div class="frame-10">
                          <div class="frame-9"><div class="text-wrapper-5">Type</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">buy</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">buy</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">sell</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">buy</div></div>
                          <div class="frame-9"><div class="text-wrapper-6">sell</div></div>
                        </div>
                        <div class="frame-10">
                          <div class="frame-9"><div class="text-wrapper-7">Quantity</div></div>
                          <div class="frame-9"><div class="text-wrapper-8">1</div></div>
                          <div class="frame-9"><div class="text-wrapper-8">1</div></div>
                          <div class="frame-9"><div class="text-wrapper-8">1</div></div>
                          <div class="frame-9"><div class="text-wrapper-8">1</div></div>
                          <div class="frame-9"><div class="text-wrapper-8">1</div></div>
                        </div>
                        <div class="frame-10">
                          <div class="frame-11"><div class="text-wrapper-7">Price</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$416.03</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$251.64</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$178.61</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$416.03</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$285.50</div></div>
                        </div>
                        <div class="frame-10">
                          <div class="frame-11"><div class="text-wrapper-7">Total</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$416.03</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$251.64</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$178.61</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$416.03</div></div>
                          <div class="frame-11"><div class="text-wrapper-6">$285.50</div></div>
                        </div>
                        <div class="frame-12">
                          <div class="frame-13"><div class="date-time">Date &amp; Time</div></div>
                          <div class="frame-13"><div class="text-wrapper-9">2024-08-20T16:23:49</div></div>
                          <div class="frame-13"><div class="text-wrapper-9">2024-08-20T16:23:49</div></div>
                          <div class="frame-13"><div class="text-wrapper-9">2024-08-20T16:23:49</div></div>
                          <div class="frame-13"><div class="text-wrapper-9">2024-08-20T16:23:49</div></div>
                          <div class="frame-13"><div class="text-wrapper-9">2024-08-20T16:23:49</div></div>
                        </div>
                        <div class="frame-14">
                          <div class="frame-13"><div class="text-wrapper-10">Status</div></div>
                          <div class="frame-13"><div class="text-wrapper-11">Completed</div></div>
                          <div class="frame-13"><div class="text-wrapper-11">Completed</div></div>
                          <div class="frame-13"><div class="text-wrapper-11">Completed</div></div>
                          <div class="frame-13"><div class="text-wrapper-11">Completed</div></div>
                          <div class="frame-13"><div class="text-wrapper-11">Completed</div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap">
          <div class="tab-bar">
            <div class="overlap-2">
              <div class="rectangle"></div>
              <div class="sidebar-section">
                <form action="/dashboard" method="get"> 
                  <button class="menu">
                    <div class="sidebar-item">  
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/show-chart.svg" />
                          <div class="text-wrapper-12">Dashboard</div>
                      </div>            
                    </div>
                  </button>
                </form>                      
                <form action="/dashboard" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <div class="img"><img class="wallet" src="/static/css/dashboard/img/wallet.png" /></div>
                        <div class="text-wrapper-12">Wallet</div>
                      </div>
                    </div>
                  </button>
                </form>
                <form action="/market" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/show-chart-1.svg" />
                        <div class="text-wrapper-12">Market</div>
                      </div>
                    </div>
                  </button>
                </form>                             
                <form action="/order_history" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/import-export.svg" />
                        <div class="text-wrapper-12"  style="color: #BA4FFC;">Transaction</div>
                      </div>
                    </div>
                  </button>
                </form>
                <form action="/dashboard" method="get">
                  <button class="menu">
                    <div class="sidebar-item-2">
                      <div class="div-2">
                        <img class="img" src="/static/css/dashboard/img/person-outline.svg" />
                        <div class="text-wrapper-12">Setting</div>
                      </div>
                    </div>
                  </button>
                </form>                    
              </div>
              <div class="logo-section">
                <p class="tradesphere-by-moses">
                  <span class="span">TradeSphere<br /></span> <span class="text-wrapper-13">by Moses Onerhime</span>
                </p>
              </div>
            </div>
          </div>
          <div class="ellipse-3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
