:root {
  --primary-25: rgba(247, 245, 250, 1);
  --grey-500: rgba(127, 120, 136, 1);
  --primary: rgba(115, 20, 238, 1);
  --grey-900: rgba(18, 17, 18, 1);
  --grey-700: rgba(73, 68, 79, 1);
  --grey-300: rgba(174, 171, 179, 1);
  --green-500: rgba(0, 165, 67, 1);
  --white: rgba(252, 252, 252, 1);
  --grey-100: rgba(200, 200, 200, 1);
  --red-500: rgba(220, 0, 50, 1);
  --blue: rgba(5, 29, 254, 1);
  --grey-800: rgba(37, 37, 39, 1);
  --green-100: rgba(178, 244, 211, 1);
  --black-10: rgba(0, 0, 0, 0.1);
  --primary-50: rgba(247, 240, 255, 1);
  --grey-50: rgba(229, 229, 229, 1);
  --pure-white: rgba(255, 255, 255, 1);
  --indicator-font-family: "Poppins", Helvetica;
  --indicator-font-weight: 600;
  --indicator-font-size: 12px;
  --indicator-letter-spacing: 0px;
  --indicator-line-height: 12px;
  --indicator-font-style: normal;
  --paragraph-font-family: "Poppins", Helvetica;
  --paragraph-font-weight: 500;
  --paragraph-font-size: 12px;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: 16px;
  --paragraph-font-style: normal;
  --abbreviation-font-family: "Poppins", Helvetica;
  --abbreviation-font-weight: 600;
  --abbreviation-font-size: 14px;
  --abbreviation-letter-spacing: -0.7px;
  --abbreviation-line-height: 18px;
  --abbreviation-font-style: normal;
  --prices-font-family: "Poppins", Helvetica;
  --prices-font-weight: 600;
  --prices-font-size: 12px;
  --prices-letter-spacing: -0.6px;
  --prices-line-height: 12px;
  --prices-font-style: normal;
}
